#landing-section {
    width: 100vw;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left; 
    padding: 10%;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 90%;
    max-width: 1200px;
    margin: 40px 0;
    flex-wrap: wrap;
}

.about-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    max-width: 500px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 5/4;
    object-fit: cover;
    transition: color 0.1s ease-in-out, transform 0.2s ease-in-out;
}

.about-image img:hover {
    transform: translateY(-10px);
}

.about-text {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    max-width: 50%;
    text-align: justify;
}

#doctors-section {
    position: relative; 
}

.doctors-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    position: relative;
    flex-wrap: wrap
}

.text-content {
    width: 60%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.text-content p {
    width: 92%;
}

#opening-hours {
    position: relative;
}

.image-content,
.image-content-paw {
    position: absolute;
    z-index: 1;
    display: inline-block;
}

.image-content {
    bottom: 0;
    right: -42%;
}

.image-content-paw {
    top: -0.8%;
    right: -42%;
}

.image-content img,
.image-content-paw img {
    width: 75%; 
    height: auto;
}

.table-head{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 1%;
}

.hours-table {
    width: 50%;
    border: 2px solid;
    border-collapse: collapse;
    margin-top: 20px;
}

.hours-table th {
    background-color: #912933;
    color: white;
    padding: 15px;
    font-size: 20px;
    text-align: left;
    border: 2px solid black;
    text-align: center;
}

.hours-table td {
    padding: 8px 15px;
    font-size: 18px;
    border: 2px solid;
}

.hours-table .closed {
    background-color: #eda325;
    font-weight: bold;
}

.cat-content {
    position: absolute;
    left: 0.5%;
    z-index: 1;
}

.cat-content img {
    width: 300px;
    max-width: 100%;
    height: auto;
}

#google-map {
    width: 100vw;
    padding: 0;
    margin: 0;
    text-align: center;
    gap:20px;
    padding: 50px;
}

.map-bg {
    width: 90vw;
    height: 50vh;
    position: relative;
}

.map-bg iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    padding-bottom: 20px;
    border-radius: 10px;
}

.btn {
    background-color: #912933;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    transition: background 0.5s ease-in-out;
    margin-top: 2%;
    cursor: pointer;
}

.btn:hover {
    background-color: #751e28;
}


@media (max-width: 768px) {
    .about-text {
        max-width: 70%;
    }

    .about-image {
        min-width: 250px;
        max-width: 500px;
    }

    .long-text {
        display: block;
    }

    .short-text {
        display: none;
    }

    .doctors-container {
        flex-direction: row;
        align-items: center;
        text-align: left;
        justify-content: space-between;
    }

    .text-content p {
        width: 90%;
        padding-bottom: 20px;
    }

    .image-content,
    .image-content-paw {
        position: absolute;
        z-index: 2;
        display: flex;
        justify-content: center;
    }
    
    .image-content {
        bottom: 0;
        right: -50%;
    }
    
    .image-content-paw {
        top: -1%;
        right: -50%;
    }
    
    .image-content img,
    .image-content-paw img {
        width: 95%;
        height: auto;
    }

    .table-head {
        margin-top: 11%;
        width: 80%;
    }

    .hours-table {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 11%;
    }

    .hours-table th,
    .hours-table td {
        font-size: 16px;
        padding: 8px;
    }

    .cat-content {
        display: block;
        left: -18%;
        bottom: 0%;
    }

    .cat-content img {
        width: 50%;
        height: auto;
    }
}

@media (max-width: 480px) {
    
    .about-text {
        max-width: 80%;
    }

    .about-image {
        min-width: 250px;
        max-width: 500px;
    }

    .long-text {
        display: none;
    }

    .short-text {
        display: block;
    }

    .doctors-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-content {
        width: 80%;
        padding-bottom: 40%;
    }

    .text-content p {
        text-align: justify;
    }

    .image-content {
        position: absolute;
        bottom: 0%;
        right: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
    }
    
    .image-content-paw {
        position: absolute;
        top: -0.8%; 
        right: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
    }
    
    .image-content img,
    .image-content-paw img {
        width: 155%;
        height: auto;
    }
    
    .table-head {
        margin-top: 15%;
        width: 80%;
    }

    .hours-table {
        width: 80%;
        margin-top: 10px;
        margin-bottom: 15%;
    }

    .hours-table th,
    .hours-table td {
        font-size: 14px;
        padding: 6px;
    }

    .cat-content {
        display: none;
    }
}
