#landing-section {
    width: 100vw;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left; 
    padding: 10%;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 90vw;
    padding: 30px;
    height: 90vw;
}

.form-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    flex: 1;
    text-align: left;
    padding-right: 1em;
}

input, textarea {
    flex: 2;
    width: 100%;
    padding: 10px;
}

textarea {
    height: 250px;
    resize: vertical;
}

.btn-group {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-top: 1em;
}

.btn {
    height: 50px;
    padding: 0em 2em;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

table {
    width: 80vw;
    border: 1px solid;
    text-align: left;
    border-collapse: collapse;
}

th, td {
    padding: 20px;
    border: 1px solid #ccc;
}

th {
    background-color: #fce7d5;
}

.create-article-btn {
    background-color: #912933;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    transition: background 0.5s ease-in-out;
    margin: 2%;
}

.btn:hover {
    background-color: #751e28;
}

@media (max-width: 768px) {     
    table {
        width: 80vw;
    }

    th, td {
        font-size: 1rem;
    }
}
