#landing-section {
    width: 100vw;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left; 
    padding: 10%;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

#landing-section h3 {
    font-weight: 700;
    font-family: 'InstrumentSans-Bold', sans-serif;
}

.articles-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0px;
}

.article-date {
    font-size: 0.8rem;
    font-weight: 700;
    color: #555;
    font-style: italic;
    display: block;
    margin-top: 5px;
}

.article {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 5% 0;
    width: 80%;
}

.article img {
    width: 30%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    flex: 1;
}

.article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
}

.article-content h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
}

.article-content p {
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 400;
    text-align: justify;
    font-family: 'InstrumentSans', sans-serif;
}

.article p, #article-body {
    margin: 10px 0;
    font-weight: 400; 
    font-family: 'InstrumentSans', sans-serif;
    text-align: justify;
}

.btn {
    background-color: #912933;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    transition: background 0.5s ease-in-out;
    margin: 2% 0;
    width: 30%;
}

.btn:hover {
    background-color: #751e28;
}

@font-face {
    font-family: 'InstrumentSans-Bold';
    src: url('../font/InstrumentSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@media (max-width: 768px) {
    .article {
        flex-direction: column;
        align-items: center;
        width: 90%;
        gap: 20px;
    }

    .article img {
        width: 60%;
    }

    .article-content {
        align-items: center;
        width: 80%;
    }

    .article-content h1 {
        font-size: 3rem;
        text-align: center;
    }

    .article-content p {
        font-size: 1rem;
        text-align: center;
    }

    .article-content .btn {
        min-width: 50%;
        display: block;
    }
}

@media (max-width: 480px) {
    .articles-container {
        padding: 0 10px;
    }

    .article {
        flex-direction: column;
        width: 100%;
        padding: 8% 0;
        gap: 15px;
    }

    .article img {
        width: 80%;
    }

    .article-content h1 {
        font-size: 2.5rem;
        
    }
}