#landing-section {
    width: 100vw;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left; 
    padding: 10%;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.grid-container {
    margin: 3% 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    grid-auto-rows: 200px; 
    gap: 20px;
    padding: 10px;
    justify-content: center;
    max-width: 1300px; 
}

.grid-item {
    border-radius: 10px;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: border 0.1s ease-in-out; 
}

.grid-item img:hover {
    border: 3px solid #8b0000;
}

.grid-item:nth-child(1) { grid-column: span 2; grid-row: span 2; }
.grid-item:nth-child(2) { grid-column: span 1; grid-row: span 1; }
.grid-item:nth-child(3) { grid-column: span 2; grid-row: span 1; }
.grid-item:nth-child(4) { grid-column: span 2; grid-row: span 2; }
.grid-item:nth-child(5) { grid-column: span 1; grid-row: span 1; }
.grid-item:nth-child(6) { grid-column: span 2; grid-row: span 1; }
.grid-item:nth-child(7) { grid-column: span 3; grid-row: span 1; }
.grid-item:nth-child(8) { grid-column: span 1; grid-row: span 1; }
.grid-item:nth-child(9) { grid-column: span 2; grid-row: span 1; }

.container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin: 3% 0;
}

.tip-card {
    width: 450px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tip-caption {
    border-radius: 8px;
    margin-top: 10px;
    text-align: left;
}

iframe {
    width: 100%;
    height: 200px;
    border-radius: 8px;
}

hr {
    margin: 10px 0;
    border: none;
    height: 1px;
    background-color: #8b0000;
}
  
.tip-card h3 {
    font-size: 1.25rem;
    padding-bottom: 8px;
}

.tip-card p {
    font-size: 1rem;
}

.btn {
    background-color: #912933;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
    transition: background 0.5s ease-in-out;
    margin: 2% 0;
    width: 60%;
}

.btn:hover {
    background-color: #751e28;
}

@media (max-width: 768px) {
    .grid-container {
        width: 90%;
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        grid-auto-rows: 100px;
    }

    .tip-card {
        padding: 20px;
    }

    iframe {
        height: 180px;
    }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
        gap: 10px;
    }

    .grid-item {
        grid-column: span 1 !important;
        grid-row: span 1 !important;
    }

    h2 {
        margin: 3% 0;
    }
}




